body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $grey-1_1;
    min-width: 320px;
}

html {
    margin: 0;
    padding: 0;
}

p, body, html {
    font-size: 15px;
    font-family: $font-base;
    color: $grey-7;
}

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: $font-base;
    z-index: 10;
}

.wr {
    max-width: 1180px;
    min-width: 320px;
    padding: 0 35px;
    margin: 0 auto;
    position: relative;
}

li {
    list-style: none;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 100;

    &, a {
        color: $grey-4;
        text-decoration: none;
    }
}

h3 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: normal;

    &, a {
        color: $blue;
        text-decoration: none;
    }
}

h4 {
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 20px;
}

a {
    text-decoration: underline;
    color: #1b74b8;

    &:hover, &:active {
        text-decoration: none;
    }

    &:active {
        color: orange;
    }
}

%clear {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

%title {
    h2 {
        text-align: center;
        color: $grey-6_1;
        font-weight: 400;
    }

    .hr {
        width: 83%;
        margin: 15px auto;
        height: 2px;
        background: $grey-3;
        border-radius: 50%;
    }
}

%wrGradient {
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, $grey-1_1, #fff);
        top: 0;
        left: 0;
        z-index: -1;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 50%;
        height: 100%;
        background: linear-gradient(to left, $grey-1_1, #fff);
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

%basicSection {
	ul {
		margin-left: -40px;

		li {
			width: percentage(1/4);
			padding-left: 40px;
			box-sizing: border-box;
    		margin-bottom: 30px;
			float: left;

			 a {
				 img {
					transition: all.4s ease;
					 width: 100%;
					 border: 1px solid silver;
					 border-radius: 10px;

					&:hover {
						box-shadow: 2px 2px 10px grey;
					}
				}
			}
			
			p {
				display: none;
			}
		}
	}
}